apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "wazuh.fullname" . }}-node
spec:
  # Secret names are always required.
  secretName: node-tls
  privateKey:
    algorithm: RSA
    encoding: PKCS8
    size: 2048
  duration: {{ .Values.certificates.duration }}
  renewBefore: {{ .Values.certificates.renewBefore }}
  isCA: false
  commonName: {{ include "wazuh.indexer.fullname" . }}-indexer
  subject:
    organizations:
      - {{ .Values.certificates.subject.organization }}
    countries:
      - {{ .Values.certificates.subject.country }}
    localities:
      - {{ .Values.certificates.subject.locality }}
  issuerRef:
    # Indexer have to use the CA Issuer so that the certificate can be validated with node-tls secret
    name: {{ include "wazuh.fullname" . }}-ca-issuer