apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "wazuh.fullname" . }}-admin
  namespace: {{ .Release.Namespace }}
spec:
  # Secret names are always required.
  secretName: admin-tls

  privateKey:
    algorithm: RSA
    encoding: PKCS8
    size: 4096

  duration: {{ .Values.certificates.duration }}
  renewBefore: {{ .Values.certificates.renewBefore }}

  isCA: false

  commonName: {{ .Values.certificates.commonNames.admin }}
  subject:
    organizations:
      - {{ .Values.certificates.subject.organization }}
    countries:
      - {{ .Values.certificates.subject.country }}
    localities:
      - {{ .Values.certificates.subject.locality }}

  issuerRef:
    name: {{ .Values.certificates.issuer.name | default (printf "%s-ca-issuer" (include "wazuh.fullname" .)) }}
    {{- if eq .Values.certificates.issuer.type "ClusterIssuer" }}
    kind: ClusterIssuer
    {{- end }}
    # We can reference ClusterIssuers by changing the kind here.
    # The default value is Issuer (i.e. a locally namespaced Issuer)
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "wazuh.fullname" . }}-dashboard
spec:
  # Secret names are always required.
  secretName: dashboard-tls

  privateKey:
    algorithm: RSA
    encoding: PKCS8
    size: 4096

  duration: {{ .Values.certificates.duration }}
  renewBefore: {{ .Values.certificates.renewBefore }}

  isCA: false

  commonName: {{ .Values.certificates.commonNames.dashboard }}
  subject:
    organizations:
      - {{ .Values.certificates.subject.organization }}
    countries:
      - {{ .Values.certificates.subject.country }}
    localities:
      - {{ .Values.certificates.subject.locality }}

  # Issuer references are always required.
  issuerRef:
    name: {{ .Values.certificates.issuer.name | default (printf "%s-ca-issuer" (include "wazuh.fullname" .)) }}
    {{- if eq .Values.certificates.issuer.type "ClusterIssuer" }}
    kind: ClusterIssuer
    {{- end }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "wazuh.fullname" . }}-node
spec:
  # Secret names are always required.
  secretName: node-tls

  privateKey:
    algorithm: RSA
    encoding: PKCS8
    size: 4096

  duration: {{ .Values.certificates.duration }}
  renewBefore: {{ .Values.certificates.renewBefore }}

  isCA: false

  commonName: {{ .Values.certificates.commonNames.node }}
  subject:
    organizations:
      - {{ .Values.certificates.subject.organization }}
    countries:
      - {{ .Values.certificates.subject.country }}
    localities:
      - {{ .Values.certificates.subject.locality }}

  # Issuer references are always required.
  issuerRef:
    name: {{ include "wazuh.fullname" . }}-ca-issuer
    # We can reference ClusterIssuers by changing the kind here.
    # The default value is Issuer (i.e. a locally namespaced Issuer)
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "wazuh.fullname" . }}-filebeat
spec:
  # Secret names are always required.
  secretName: filebeat-tls

  privateKey:
    algorithm: RSA
    encoding: PKCS8
    size: 4096

  duration: {{ .Values.certificates.duration }}
  renewBefore: {{ .Values.certificates.renewBefore }}

  isCA: false

  commonName: {{ .Values.certificates.commonNames.filebeat }}
  subject:
    organizations:
      - {{ .Values.certificates.subject.organization }}
    countries:
      - {{ .Values.certificates.subject.country }}
    localities:
      - {{ .Values.certificates.subject.locality }}

  # Issuer references are always required.
  issuerRef:
    name: {{ .Values.certificates.issuer.name | default (printf "%s-ca-issuer" (include "wazuh.fullname" .)) }}
    {{- if eq .Values.certificates.issuer.type "ClusterIssuer" }}
    kind: ClusterIssuer
    {{- end }}
