apiVersion: v2
name: wazuh
description: Wazuh is a free and open source security platform that unifies XDR and SIEM protection for endpoints and cloud workloads.
type: application
appVersion: 4.12.0
version: 0.1.3
home: https://wazuh.com/
sources:
  - https://github.com/morgoved/wazuh-helm
dependencies:
  - name: cert-manager
    version: 1.16.3
    repository: https://charts.jetstack.io
    condition: cert-manager.enabled