{{- if not .Values.indexer.cred.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: indexer-cred
  namespace: {{ .Release.Namespace }}
data:
  INDEXER_USERNAME: {{ "admin" | b64enc }}
  INDEXER_PASSWORD: {{ .Values.indexer.cred.password | default (randAlphaNum 16) | b64enc }}
{{- end }}